<?xml version="1.0"?>
<launch>

	<arg name="world_name"       default="worlds/atom2_house.world"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name"    value="$(arg world_name)"/>
		<arg name="debug" 		  value="false" />
		<arg name="paused" 		  value="false"/>
		<arg name="use_sim_time"  value="true"/>
		<arg name="headless" 	  value="false"/> 
		<arg name="gui" 		  value="true"/>
	</include>

</launch>